<h1>Hello World! Here are your bookmarks</h1>
<form action = "/bookmarks" method="GET">
  <input type='submit' name='submit' value='View Bookmarks'>
</form>
<form action = "/bookmarks/add" method="GET">
  <input type='submit' name='add_submit' value='Add new bookmark'>
</form>